spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: module1
            uri: http://localhost:8081
            predicates:
            - Path=/server1/**
            filters:
              - StripPrefix=1

          - id: module2
            uri: http://localhost:8082
            predicates:
              - Path=/server2/**
            filters:
              - StripPrefix=1
server:
  port: 8881